<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.bbs.dao.PostsMapper">
  <resultMap id="BaseResultMap" type="Posts">
    <id column="p_id" jdbcType="INTEGER" property="id" />
    <result column="p_post_topic" jdbcType="INTEGER" property="postTopic" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content_id" jdbcType="INTEGER" property="contentId" />
    <result column="p_createDate" property="createDate" />
    <association property="topic" javaType="Topic" resultMap="topicMap"/>
    <association property="user" javaType="User" resultMap="userMap"/>
    <association property="content" javaType="Content" resultMap="contentMap"/>
  </resultMap>
  <resultMap id="jointResultMap" type="Posts">
    <id column="p_id" jdbcType="INTEGER" property="id" />
    <result column="p_post_topic" jdbcType="INTEGER" property="postTopic" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="content_id" jdbcType="INTEGER" property="contentId" />
    <result column="p_createDate" property="createDate" />
    <association property="topic" javaType="Topic" resultMap="topicMap"/>
    <association property="user" javaType="User" resultMap="userMap"/>
    <association property="content" javaType="Content" resultMap="contentMap"/>
  </resultMap>
  <resultMap id="topicMap" type="Topic">
    <id property="id" column="t_id"/>
    <result property="topicName" column="topic_name"/>
  </resultMap>
  <resultMap id="userMap" type="User">
    <id property="id" column="u_id"/>
    <result property="userCode" column="user_code"/>
    <result property="userName" column="user_name"/>
    <result property="password" column="`password`"/>
    <result property="userRole" column="user_role"/>
    <result property="sex" column="sex"/>
    <result property="createDate" column="u_create_Date"/>
  </resultMap>
  <resultMap id="contentMap" type="Content">
    <id property="id" column="c_id"/>
    <result property="heading" column="heading"/>
    <result property="content" column="content"/>
  </resultMap>
  <!--<resultMap id="replyMap" type="Reply">
    <id column="r_id"  property="id" />
    <result column="posts_id"  property="postsId" />
    <result column="r_userId"  property="userId" />
    <result column="floor"  property="floor" />
    <result column="reply_content"  property="replyContent" />
    <result column="r_createDate" property="createDate"
  </resultMap>-->
  <sql id="Base_Column_List">
    id, post_topic AS post_topic, user_id AS user_id, content_id AS contentId ,createDate
  </sql>
  <sql id="jointColumn1">
          p.id AS p_id,
          post_topic,
          user_id,
          content_id,
          p.createDate AS p_createDate,
          c.id AS c_id,
          heading,
          content,
          t.id AS t_id,
          topic_name,
          u.id AS u_id,
          user_code,
          user_name,
          user_role,
          sex,
          u.create_Date AS u_create_Date
  </sql>
  <sql id="jointColumn2">
      r.id AS r_id,
      posts_id,
      r.user_id AS r_userId,
      floor,
      reply_content,
      r.createDate AS  r_createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="jointColumn1" />
    FROM
    posts AS p
    INNER JOIN content AS c ON p.content_id = c.id
    INNER JOIN topic AS t ON p.post_topic = t.id
    INNER JOIN `user` AS u ON p.user_id = u.id
    where p.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAllByUserId" resultMap="BaseResultMap">
      SELECT
      <include refid="jointColumn1"/>
      FROM
      posts AS p
      INNER JOIN content AS c ON p.content_id = c.id
      INNER JOIN topic AS t ON p.post_topic = t.id
      INNER JOIN `user` AS u ON p.user_id = u.id
      WHERE u.id = #{id}
  </select>
  <select id="selectForPage" resultMap="BaseResultMap">
        SELECT
          <include refid="jointColumn1"></include>
        FROM
        posts AS p
        INNER JOIN content AS c ON p.content_id = c.id
        INNER JOIN topic AS t ON p.post_topic = t.id
        INNER JOIN `user` AS u ON p.user_id = u.id
        <where>
          <if test="id != null">
            t.id = #{id}
          </if>
        </where>
        ORDER BY
        p.createDate ASC
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer">
    delete from posts
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="Posts" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
    insert into posts ( post_topic, user_id,
      content_id)
    values ( #{postTopic,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER},
      #{contentId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.bbs.model.Posts">
    insert into posts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="postTopic != null">
        post_topic,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="contentId != null">
        content_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="postTopic != null">
        #{postTopic,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        #{contentId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.bbs.model.Posts">
    update posts
    <set>
      <if test="postTopic != null">
        post_topic = #{postTopic,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="contentId != null">
        content_id = #{contentId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.bbs.model.Posts">
    update posts
    set post_topic = #{postTopic,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>